---
---

@font-face {
  src: url("/assets/fonts/kamerik-regular.woff2");
  font-family: "Kamerik";
  font-weight: normal;
}

@font-face {
  src: url("/assets/fonts/kamerik-regular-italic.woff2");
  font-family: "Kamerik";
  font-style: italic;
  font-weight: normal;
}

@font-face {
  src: url("/assets/fonts/kamerik-bold.woff2");
  font-family: "Kamerik";
  font-weight: bold;
}

@font-face {
  src: url("/assets/fonts/kamerik-bold-italic.woff2");
  font-family: "Kamerik";
  font-style: italic;
  font-weight: bold;
}

@import "main";

footer {
  .container {
    #footer_copyright {
      grid-area: foc;
      align-self: center;
      text-align: center;
    }

    grid-template-areas:
      "foc";

    @include screen-small {
      grid-template-areas:
        "foc foc foc";
    }

    @include screen-medium {
      grid-template-areas:
        "... foc foc foc ...";
    }

    @include screen-large {
      grid-template-areas:
        "... ... foc foc foc ... ...";
    }
  }
}

#home {
  &_header {
    .container {
      grid-template-rows: auto max-content;

      #header {
        &_title {
          grid-area: ht1;
          align-self: end;
        }

        &_sub {
          grid-area: hsu;
          align-self: end;
          display: grid;
          border-top: 1px solid $color-text-deco;
          padding-top: $nspace3;

          #header_sub1,
          #header_sub2 {
            align-self: end;
          }

          #header_sub1 {
            grid-area: hs1;
            max-width: 12ch;
            margin-right: auto;
          }

          #header_sub2 {
            grid-area: hs2;
            max-width: 8ch;
            text-align: end;
            margin-left: auto;
          }

          grid-template-areas:
            "hs1 hs2";
        }
      }

      grid-template-areas:
        "ht1"
        "hsu";

      @include screen-small {
        grid-template-areas:
          "ht1 ht1 ht1"
          "hsu hsu hsu";
      }

      @include screen-medium {
        grid-template-areas:
          "ht1 ht1 ht1 ht1 ht1"
          "hsu hsu hsu hsu hsu";
      }

      @include screen-large {
        grid-template-areas:
          "ht1 ht1 ht1 ht1 ht1 ht1 ht1"
          "hsu hsu hsu hsu hsu hsu hsu";
      }
    }
  }

  &_showcase1,
  &_about1,
  &_contact1,
  &_skill1 {
    .container {
      grid-template-rows: 1fr min-content 1fr;

      .section_title,
      .section_sub,
      .section_deco {
        text-align: center;
      }

      .section_title {
        grid-area: st2;
        border-top: 1px solid $color-text-deco;
        border-bottom: 1px solid $color-text-deco;
        padding: $nspace3 0;
      }

      .section_sub {
        grid-area: ss1;
        letter-spacing: 2px;
      }

      .section_deco {
        grid-area: sde;
        margin: 0 auto;
        border: 1px solid $color-text-deco;
        border-radius: $border-radius;
        padding: $nspace1 $nspace1 $nspace1 $nspace1+8px;
        align-self: end;
        letter-spacing: 8px;
      }

      grid-template-areas:
        "sde"
        "st2"
        "ss1";

      @include screen-small {
        grid-template-areas:
          "sde sde sde"
          "st2 st2 st2"
          "ss1 ss1 ss1";
      }

      @include screen-medium {
        grid-template-areas:
          "... sde sde sde ..."
          "... st2 st2 st2 ..."
          "... ss1 ss1 ss1 ...";
      }

      @include screen-large {
        grid-template-areas:
          "... ... sde sde sde ... ..."
          "... st2 st2 st2 st2 st2 ..."
          "... ss1 ss1 ss1 ss1 ss1 ...";
      }
    }
  }

  &_showcase2 {
    .container {
      .showcase_img {
        grid-area: shi;
        align-self: end;
      }

      .showcase_paragraph {
        grid-area: shp;
      }

      .showcase_data {
        grid-area: shd;
        align-self: end;
        display: grid;

        &_1_number,
        &_2_number,
        &_3_number {
          align-self: end;
        }

        &_1 {
          &_number {
            grid-area: d1n;
          }

          &_sub {
            grid-area: d1s;
          }
        }

        &_2 {
          &_number {
            grid-area: d2n;
          }

          &_sub {
            grid-area: d2s;
          }
        }

        &_3 {
          &_number {
            grid-area: d3n;
          }

          &_sub {
            grid-area: d3s;
          }
        }

        grid-template-areas:
          "d1n d2n d3n"
          "d1s d2s d3s";

      }

      .showcase_link {
        grid-area: shl;
        max-width: max-content;
        border: 1px solid $color-link;
        border-radius: $border-radius-round;
        padding: $nspace2 $nspace3 $nspace2 $nspace3+2px;
        font-size: $h5-font-size;
        letter-spacing: 2px;

        &:hover {
          border-color: $color-link-hover;
        }
      }

      grid-template-areas:
        "shi"
        "shp"
        "shd"
        "..."
        "shl";

      @include screen-small {
        grid-template-areas:
          "shi shi shi"
          "shp shp shp"
          "shd shd shd"
          "... ... ..."
          "shl shl shl";
      }

      @include screen-medium {
        .showcase_img {
          margin: auto;
        }

        grid-template-areas:
          "shi shi shi shi shi"
          "... shp shp shp ..."
          "... shd shd shd ..."
          "... ... ... ... ..."
          "... shl shl shl ...";
      }

      @include screen-large {
        grid-template-rows: 1fr min-content min-content 1fr;
        grid-column-gap: $nspace4;

        .showcase_paragraph {
          align-self: end;
          margin-left: $nspace4;
        }

        .showcase_data {
          margin: 0 $nspace4;
        }

        .showcase_link {
          margin-left: $nspace4;
          margin-bottom: auto;
        }

        grid-template-areas:
          "shi shi shi shi shp shp shp"
          "shi shi shi shi shd shd shd"
          "shi shi shi shi ... ... ..."
          "shi shi shi shi shl shl shl";
      }
    }
  }

  &_about2,
  &_about3,
  &_about4 {
    .container {
      grid-template-rows: 1fr min-content min-content 1fr;

      .about {
        &_icon {
          grid-area: aic;
          height: $icon5;
          width: 100%;
          margin: auto auto 0 auto;
        }

        &_heading,
        &_paragraph {
          text-align: center;
        }

        &_heading {
          grid-area: ahe;
          align-self: end;
        }

        &_paragraph {
          grid-area: apa;
        }
      }

      grid-template-areas:
          "aic"
          "ahe"
          "apa";

      @include screen-small {
        grid-template-areas:
            "aic aic aic"
            "... ... ..."
            "ahe ahe ahe"
            "apa apa apa";
      }

      @include screen-medium {
        grid-template-areas:
          "... aic aic aic ..."
          "... ... ... ... ..."
          "... ahe ahe ahe ..."
          "... apa apa apa ...";
      }

      @include screen-large {
        grid-template-rows: 1fr 1.5fr;
        grid-column-gap: $nspace4;

        .about_icon {
          align-self: center;
          margin: auto 0 auto auto;
        }

        .about_heading,
        .about_paragraph {
          text-align: left;
          max-width: 40ch;
        }

        grid-template-areas:
          "aic aic aic ahe ahe ahe ahe"
          "aic aic aic apa apa apa apa";
      }
    }
  }

  &_skill2,
  &_skill3 {
    .container {
      .skill_title {
        grid-area: skt;
        align-self: center;
        font-size: $h4-font-size;
        font-weight: bold;
      }

      .skill_1_icon,
      .skill_2_icon {
        height: $icon4;
        width: $icon4;
      }

      .skill_1_heading,
      .skill_2_heading {
        align-self: center;
        font-size: 1rem;
      }

      .skill_1 {
        &_icon {
          grid-area: oni;
        }

        &_heading {
          grid-area: onh;
        }

        &_paragraph {
          grid-area: onp;
        }
      }

      .skill_2 {
        &_icon {
          grid-area: twi;
        }

        &_heading {
          grid-area: twh;
        }

        &_paragraph {
          grid-area: twp;
        }
      }

      grid-template-areas:
        "skt"
        "..."
        "oni"
        "onh"
        "onp"
        "..."
        "twi"
        "twh"
        "twp";

      @include screen-small {
        grid-template-areas:
          "skt skt skt"
          "... ... ..."
          "onh onh oni"
          "onp onp onp"
          "... ... ..."
          "twh twh twi"
          "twp twp twp";
      }

      @include screen-medium {
        grid-template-areas:
          "skt skt onh onh oni"
          "... ... onp onp onp"
          "... ... ... ... ..."
          "... ... twh twh twi"
          "... ... twp twp twp";
      }

      @include screen-large {
        grid-template-areas:
          "... skt skt onh onh oni ..."
          "... ... ... onp onp onp ..."
          "... ... ... ... ... ... ..."
          "... ... ... twh twh twi ..."
          "... ... ... twp twp twp ...";
      }
    }
  }

  &_contact2 {
    .container {
      #contact2_portrait {
        grid-area: cpo;
        margin: auto;
      }

      #contact2_heading {
        grid-area: che;
      }

      #contact2_paragraph {
        grid-area: cpa;
      }

      #contact2_email,
      #contact2_github {
        align-self: start;
        display: grid;
        grid-template-columns: $icon2 1fr;
        grid-column-gap: $nspace3;
        align-items: center;
        max-width: max-content;
        text-decoration: underline;

        &:hover {
          border-color: $color-text;
        }
      }

      #contact2_email {
        grid-area: cem;
      }

      #contact2_github {
        grid-area: cgi;
      }

      grid-template-areas:
        "cpo"
        "..."
        "che"
        "..."
        "cpa"
        "..."
        "cem"
        "cgi";

      @include screen-small {
        grid-template-areas:
          "cpo cpo cpo"
          "... ... ..."
          "che che che"
          "... ... ..."
          "cpa cpa cpa"
          "... ... ..."
          "... ... ..."
          "... ... ..."
          "cem cem cem"
          "cgi cgi cgi";
      }

      @include screen-medium {
        grid-template-areas:
          "... cpo cpo cpo ..."
          "... ... ... ... ..."
          "... che che che ..."
          "... ... ... ... ..."
          "... cpa cpa cpa ..."
          "... ... ... ... ..."
          "... ... ... ... ..."
          "... ... ... ... ..."
          "... cem cem cem ..."
          "... cgi cgi cgi ...";
      }

      @include screen-large {
        grid-template-rows: repeat(5, min-content) 1fr;

        #contact2_portrait {
          margin-top: 0;
        }

        grid-template-areas:
          "che che che che ... cpo cpo"
          "cpa cpa cpa cpa ... cpo cpo"
          "cpa cpa cpa cpa ... ... ..."
          "cpa cpa cpa cpa ... cem cem"
          "cpa cpa cpa cpa ... cgi cgi"
          "cpa cpa cpa cpa ... ... ...";
      }
    }
  }
}