---
---

@font-face {
  src: url("/assets/fonts/kamerik-medium.woff2");
  font-family: "Kamerik";
  font-weight: normal;
}

@font-face {
  src: url("/assets/fonts/kamerik-medium-italic.woff2");
  font-family: "Kamerik";
  font-style: italic;
  font-weight: normal;
}

@font-face {
  src: url("/assets/fonts/kamerik-bold.woff2");
  font-family: "Kamerik";
  font-weight: bold;
}

@font-face {
  src: url("/assets/fonts/kamerik-bold-italic.woff2");
  font-family: "Kamerik";
  font-style: italic;
  font-weight: bold;
}

@import "nspace";

#footer {
  .container {
    #footer_illustration {
      grid-area: fil;
      align-self: center;
      height: $icon5;
      width: $icon5;
    }

    #footer_email {
      grid-area: fem;
      align-self: end;
    }

    #footer_social {
      grid-area: fso;
      display: flex;
      flex-direction: row;

      > a:not(:first-child) {
        margin-left: $nspace4;
      }

      > a > svg > g > path {
        fill: $color-text-deco;
        stroke: none;
      }
    }

    grid-template-areas:
        "fil"
        "fem"
        "fso";

    @include screen-small {
      grid-template-areas:
          "fil fil fil"
          "fem fem fem"
          "fso fso fso";
    }

    @include screen-medium {
      #footer_email {
        font-size: $h4-font-size;
        line-height: $h4-line-height;
      }

      grid-template-areas:
        "fil fil fem fem fem"
        "fil fil fso fso fso";
    }

    @include screen-large {
      grid-template-areas:
        "fil fil fil fem fem fem fem"
        "fil fil fil fso fso fso fso";
    }
  }
}

#home {
  &_header {
    .container {
      grid-template-rows: 1.5fr 1fr min-content;

      #header {
        &_img {
          grid-area: him;
          height: $icon6;
          width: 100%;
          align-self: end;
        }

        &_title {
          grid-area: ht1;
        }

        &_sub {
          grid-area: hsu;
          text-align: center;
          font-size: $h5-font-size;
          line-height: $h5-line-height;
        }
      }

      grid-template-areas:
        "him"
        "ht1"
        "hsu";

      @include screen-small {
        grid-template-areas:
          "him him him"
          "ht1 ht1 ht1"
          "hsu hsu hsu";
      }

      @include screen-medium {
        grid-template-areas:
          "him him him him him"
          "... ht1 ht1 ht1 ht1"
          "... hsu hsu hsu ...";
      }

      @include screen-large {
        grid-template-rows: 1fr min-content;

        #header_img {
          align-self: center;
        }

        #header_title {
          align-self: center;
        }

        grid-template-areas:
          "him him him ht1 ht1 ht1 ht1"
          "... ... hsu hsu hsu ... ...";
      }
    }
  }

  &_showcase,
  &_value,
  &_contact,
  &_skill {
    .container {
      .section_title {
        grid-area: st2;
        align-self: center;
      }

      grid-template-areas:
        "st2";

      @include screen-small {
        grid-template-areas:
          "st2 st2 st2";
      }

      @include screen-medium {
        grid-template-areas:
          "... st2 st2 st2 ...";
      }

      @include screen-large {
        grid-template-areas:
          "... st2 st2 st2 st2 st2 ...";
      }
    }
  }

  &_showcase_quadra-can {
    .container {
      .showcase_img {
        grid-area: shi;
        align-self: end;
      }

      .showcase_paragraph {
        grid-area: shp;
      }

      .showcase_data {
        grid-area: shd;
        align-self: end;
        display: grid;

        &_1_number,
        &_2_number,
        &_3_number {
          align-self: end;
          color: $color-text;
          font-size: $h4-font-size;
          font-weight: bold;
          line-height: $h4-line-height;
        }

        &_1_sub,
        &_2_sub,
        &_3_sub {
          font-size: $h6-font-size;
          line-height: $h6-line-height;
        }

        &_1 {
          &_number {
            grid-area: d1n;
          }

          &_sub {
            grid-area: d1s;
          }
        }

        &_2 {
          &_number {
            grid-area: d2n;
          }

          &_sub {
            grid-area: d2s;
          }
        }

        &_3 {
          &_number {
            grid-area: d3n;
          }

          &_sub {
            grid-area: d3s;
          }
        }

        grid-template-areas:
          "d1n d2n d3n"
          "d1s d2s d3s";

      }

      .showcase_link {
        grid-area: shl;
      }

      grid-template-areas:
        "shi"
        "shp"
        "shd"
        "..."
        "shl";

      @include screen-small {
        grid-template-areas:
          "shi shi shi"
          "shp shp shp"
          "shd shd shd"
          "... ... ..."
          "shl shl shl";
      }

      @include screen-medium {
        .showcase_img {
          margin: auto;
        }

        grid-template-areas:
          "shi shi shi shi shi"
          "... shp shp shp ..."
          "... shd shd shd ..."
          "... ... ... ... ..."
          "... shl shl shl ...";
      }

      @include screen-large {
        grid-template-rows: 1fr min-content min-content 1fr;

        .showcase_paragraph {
          align-self: end;
          margin-left: $nspace4;
        }

        .showcase_data {
          margin: 0 $nspace4;
        }

        .showcase_link {
          margin-left: $nspace4;
          margin-bottom: auto;
        }

        grid-template-areas:
          "shi shi shi shi shp shp shp"
          "shi shi shi shi shd shd shd"
          "shi shi shi shi ... ... ..."
          "shi shi shi shi shl shl shl";
      }
    }
  }

  &_value_responsive-design,
  &_value_custom-features,
  &_value_cheap-hosting {
    .container {
      grid-template-rows: 1fr repeat(3, min-content);

      .value {
        &_illustration {
          grid-area: vil;
          height: $icon6;
          width: $icon6;
          margin: auto auto 0 auto;
        }

        &_heading {
          grid-area: vhe;
          align-self: end;
        }

        &_paragraph {
          grid-area: vpa;
        }
      }

      grid-template-areas:
          "vil"
          "vhe"
          "vpa";

      @include screen-small {
        grid-template-areas:
            "vil vil vil"
            "... ... ..."
            "vhe vhe vhe"
            "vpa vpa vpa";
      }

      @include screen-medium {
        grid-template-areas:
          "... vil vil vil ..."
          "... ... ... ... ..."
          "... vhe vhe vhe ..."
          "... vpa vpa vpa ...";
      }

      @include screen-large {
        grid-template-rows: 1fr 1.5fr;

        .value_illustration {
          align-self: center;
          margin: 0 0 0 auto;
        }

        .value_heading,
        .value_paragraph {
          text-align: left;
        }

        grid-template-areas:
          "vil vil vil vhe vhe vhe ..."
          "vil vil vil vpa vpa vpa ...";
      }
    }
  }

  &_value_custom-features {
    .container {
      @include screen-large {
        .value_illustration {
          margin: 0 auto 0 0;
        }

        grid-template-areas:
          "... vhe vhe vhe vil vil vil"
          "... vpa vpa vpa vil vil vil";
      }
    }
  }

  &_skill_html,
  &_skill_sass,
  &_skill_js {
    .container {
      .skill_img {
        grid-area: sim;
      }

      .skill_content {
        grid-area: sco;
        align-self: center;
        display: grid;
        grid-template-columns: $icon4 1fr;
        grid-column-gap: $nspace4;
        grid-row-gap: $nspace4;

        > svg {
          grid-area: cic;
          height: $icon4;
          width: $icon4;
        }

        > h3 {
          grid-area: che;
          align-self: center;
        }

        > p {
          grid-area: cpa;
          max-width: 28ch;
        }

        grid-template-areas:
          "cic che"
          "cpa cpa";
      }

      grid-template-areas:
        "sco"
        "..."
        "sim";

      @include screen-small {
        grid-template-areas:
          "sco sco sco"
          "... ... ..."
          "sim sim sim";
      }

      @include screen-medium {
        grid-template-areas:
          "... sim sim sim ..."
          "... ... ... ... ..."
          "... sco sco sco ...";
      }

      @include screen-large {
        grid-template-areas:
          "sco sco sco sim sim sim sim";
      }
    }
  }

  &_contact_about {
    .container {
      #about_portrait {
        grid-area: apo;
        align-self: center;
      }

      #about_heading {
        grid-area: ahe;
        align-self: end;
      }

      #about_paragraph {
        grid-area: apa;
        max-width: 40ch;
      }

      grid-template-areas:
        "apo"
        "..."
        "ahe"
        "apa";

      @include screen-small {
        grid-template-areas:
          "apo apo apo"
          "... ... ..."
          "ahe ahe ahe"
          "apa apa apa";
      }

      @include screen-medium {
        grid-template-areas:
          "... apo apo apo ..."
          "... ... ... ... ..."
          "... ahe ahe ahe ..."
          "... apa apa apa ...";
      }

      @include screen-large {
        grid-template-areas:
          "apo apo apo ahe ahe ahe ..."
          "apo apo apo apa apa apa apa";
      }
    }
  }

  &_contact_result {
    .container {
      grid-row-gap: $nspace4;

      .result {
        &__data {
          color: $color-text;
          font-size: 2.625rem;
          font-weight: bold;
          line-height: 1.25;
        }

        &__heading {
          color: $color-text;
          font-size: $h5-font-size;
          line-height: $h5-line-height;
        }

        &__paragraph {
          font-size: $h6-font-size;
          line-height: $h6-line-height;
          margin-top: $nspace3;
          max-width: 180px;
        }
      }

      #result_heading {
        grid-area: rhe;
      }

      #result {
        &_1 {
          grid-area: r01;
        }

        &_2 {
          grid-area: r02;
        }

        &_3 {
          grid-area: r03;
        }

        &_4 {
          grid-area: r04;
        }
      }

      #result_illustration {
        grid-area: ril;
        height: $icon5;
        width: $icon5;
      }

      grid-template-areas:
        "rhe"
        "ril"
        "r01"
        "r02"
        "r03"
        "r04";

      @include screen-small {
        grid-template-areas:
          "ril ril ril"
          "rhe rhe rhe"
          "r01 r01 r01"
          "r02 r02 r02"
          "r03 r03 r03"
          "r04 r04 r04";
      }

      @include screen-medium {
        grid-template-areas:
          "... ... ril ril ..."
          "... rhe rhe rhe ..."
          "... r01 r01 r02 r02"
          "... r03 r03 r04 r04";
      }

      @include screen-large {
        grid-template-areas:
          "rhe rhe ... r01 r01 r02 r02"
          "ril ril ... r03 r03 r04 r04";
      }
    }
  }
}