---
---

@font-face {
  src: url("/assets/fonts/calibre-test-regular.woff") format("woff");
  font-family: "Calibre";
}

@font-face {
  src: url("/assets/fonts/calibre-test-regular-italic.woff") format("woff");
  font-family: "Calibre";
  font-style: italic;
}

@import "main";

footer {
  .container {
    #footer_copyright {
      grid-area: foc;
      align-self: center;
      text-align: center;
    }

    grid-template-areas:
      "foc";

    @include screen-small {
      grid-template-areas:
        "foc foc foc";
    }

    @include screen-medium {
      grid-template-areas:
        "... foc foc foc ...";
    }

    @include screen-large {
      grid-template-areas:
        "... ... foc foc foc ... ...";
    }
  }
}

#home {
  &_header {
    .container {
      #header_title {
        grid-area: ht1;
        align-self: end;
      }

      #header_sub1,
      #header_sub2 {
        align-self: end;
      }

      #header_sub1 {
        grid-area: hs1;
      }

      #header_sub2 {
        grid-area: hs2;
        text-align: end;
      }

      grid-template-areas:
        "ht1"
        "hs1"
        "hs2";

      @include screen-small {
        grid-template-areas:
          "ht1 ht1 ht1"
          "hs1 ... hs2";
      }

      @include screen-medium {
        grid-template-areas:
          "... ht1 ht1 ht1 ..."
          "... hs1 ... hs2 ...";
      }

      @include screen-large {
        grid-template-areas:
          "... ... ht1 ht1 ht1 ... ..."
          "... ... hs1 ... hs2 ... ...";
      }
    }
  }

  &_about1 {
    .container {
      #about1_title {
        grid-area: at2;
      }

      #about1_sub {
        grid-area: as1;
      }

      #about1_number {
        grid-area: anb;
      }

      grid-template-areas:
        "at2"
        "anb"
        "as1";

      @include screen-small {
        grid-template-areas:
          "at2 at2 at2"
          "anb anb anb"
          "as1 as1 as1";
      }

      @include screen-medium {
        grid-template-areas:
          "at2 at2 at2 at2 at2"
          "anb anb anb anb anb"
          "as1 as1 as1 as1 as1";
      }

      @include screen-large {
        grid-template-areas:
          "at2 at2 at2 at2 at2 at2 at2"
          "anb anb anb anb anb anb anb"
          "as1 as1 as1 as1 as1 as1 as1";
      }
    }
  }

  &_about2,
  &_about3,
  &_about4 {
    .container {
      .about {
        &_icon {
          grid-area: aic;
        }

        &_heading {
          grid-area: ahe;
        }

        &_paragraph {
          grid-area: apa;
        }
      }

      grid-template-areas:
          "aic"
          "ahe"
          "apa";

      @include screen-small {
        grid-template-areas:
            "aic aic aic"
            "ahe ahe ahe"
            "apa apa apa";
      }

      @include screen-medium {
        grid-template-areas:
          "aic aic aic aic aic"
          "ahe ahe ahe ahe ahe"
          "apa apa apa apa apa";
      }

      @include screen-large {
        grid-template-areas:
          "aic aic aic aic aic aic aic"
          "ahe ahe ahe ahe ahe ahe ahe"
          "apa apa apa apa apa apa apa";
      }
    }
  }

  &_showcase1 {
    .container {
      #showcase1_title {
        grid-area: st2;
      }

      #showcase1_sub {
        grid-area: ss1;
      }

      #showcase1_number {
        grid-area: snb;
      }

      grid-template-areas:
        "st2"
        "snb"
        "ss1";

      @include screen-small {
        grid-template-areas:
          "st2 st2 st2"
          "snb snb snb"
          "ss1 ss1 ss1";
      }

      @include screen-medium {
        grid-template-areas:
          "st2 st2 st2 st2 st2"
          "snb snb snb snb snb"
          "ss1 ss1 ss1 ss1 ss1";
      }

      @include screen-large {
        grid-template-areas:
          "st2 st2 st2 st2 st2 st2 st2"
          "snb snb snb snb snb snb snb"
          "ss1 ss1 ss1 ss1 ss1 ss1 ss1";
      }
    }
  }

  &_contact1 {
    .container {
      #contact1_title {
        grid-area: ct2;
      }

      #contact1_sub {
        grid-area: cs1;
      }

      #contact1_number {
        grid-area: cnb;
      }

      #contact1_email_link,
      #contact1_linkedin_link {
        display: grid;
        grid-template-columns: $icon2 1fr;
        grid-column-gap: $nspace2;
        align-items: center;
      }

      #contact1_email {
        &_paragraph {
          grid-area: emp;
        }

        &_link {
          grid-area: eml;
        }
      }

      #contact1_linkedin {
        &_paragraph {
          grid-area: lip;
        }

        &_link {
          grid-area: lil;
        }
      }

      grid-template-areas:
        "ct2"
        "cnb"
        "cs1"
        "emp"
        "eml"
        "lip"
        "lil";

      @include screen-small {
        grid-template-areas:
          "ct2 ct2 ct2"
          "cnb cnb cnb"
          "cs1 cs1 cs1"
          "emp emp emp"
          "eml eml eml"
          "lip lip lip"
          "lil lil lil";
      }
    }
  }
}