<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        JT Feng | {{ page.title }}
    </title>
    <link rel="icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <meta name="description" content="{{ page.description }}">

    <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body>
{{ content }}
<footer id="footer">
    <div class="container">
        <a id="footer_email" href="mailto:jingtianfeng@gmail.com">jingtianfeng@gmail.com</a>
        <p id="footer_paragraph">
            I'm always ready to team up with cool people
            to provide the best solutions for users.
        </p>
        <div id="footer_social">
            <a href="https://github.com/jingtianfeng">GitHub</a>
            <a href="https://ca.linkedin.com/in/jing-tian-feng-66a295120">LinkedIn</a>
            <a>Twitter</a>
        </div>
        <p id="footer_text">
            Feel free to contact me for
            any digital project or inquiries.
        </p>
    </div>
</footer>

<div class="screen--light"></div>
<div class="nav-main">
    <p>
        Words can be like X-rays, if you use them properly, they’ll go through anything.
        You read and you’re pierced.
    </p>
</div>
<div class="burger">
    <span class="burger__line"></span>
    <span class="burger__line"></span>
    <span class="burger__line"></span>
</div>
<script>
    const screenLight = document.querySelector('.screen--light')
    const burger = document.querySelector('.burger')
    const burgerLines = burger.querySelectorAll('.burger__line')
    const navMain = document.querySelector('.nav-main')

    burger.addEventListener('click', () => {
        screenLight.classList.toggle('screen--light--active')
        burger.classList.toggle('burger--active')
        burgerLines.forEach((burgerLine) => {
            burgerLine.classList.toggle('burger--active__line--active')
        })
        navMain.classList.toggle('nav-main--active')
    })
</script>
</body>
</html>